:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --hover-color: rgb(255, 199, 220);
  --general-padding: 35px;
  --general-smaller-padding: 20px;
  --general-mini-padding: 5px;
  --box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  --main-width-mobile: 90%;
  --main-width-desktop: 70%;
  --hover-color: rgb(255, 199, 220);
}

.project-heading {
  font-size: 45px;
  font-weight: 800;
  font-family: Abril Fatface;
  background: -webkit-linear-gradient(
    45deg,
    #ff199f,
    #cd8cdd,
    #5be288,
    #bef146,
    #7e6ed8
  );
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  letter-spacing: -3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
